<h2 class="text-center">Auctions</h2>

<% @auctions.each do |auc| %>
  <div class="well">
    <div class="">
    <h1> <%= link_to auc.title, auction_path(auc) %> </h1>
    </div>
    <div class="">
      <%= auc.details %>
    </div>
    <div class="">
      <h5>End date: <%= auc.end_date %></h5>
    </div>
  </div>
<% end %>
